@import "../bower_components/foundation/scss/foundation/functions";

$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

$primary-color: #3fa85e;
$secondary-color: #e7e7e7;
